<%- include('partials/header'); -%>
<h1>COMPOSE</h1>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Publish</button>
</form>

<%- include('partials/footer'); -%>