<%- include('header'); -%>

<h1>oguzhan</h1>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta vero,
  voluptatem veritatis similique rem necessitatibus harum, accusantium,
  voluptatibus obcaecati rerum quas. Tenetur blanditiis necessitatibus
  repudiandae! Asperiores aliquam consequatur nobis animi?
</p>
<%- include('footer'); -%>
